Repository TeamNado-Sunbae/NadoSunbae-iOS, pull requests merged in 2022-01, with the labels that each got.

#4 ✅ [CHORE] UIFont Extension 수정 및 적용
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/UIFont+.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Class/cls.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/xib.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/TabBar/VC/NadoSunbaeTBC.swift
Labels: 💜 지은 💜, ✅ Chore

#8 ✨ [FEAT] 나도선배 Style UIButton Custom Class 생성
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/UIFont+.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Class/NadoSunbaeBtn.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Class/cls.swift
Labels: 🍎 Feature, 💜 지은 💜

#10 ✨ [FEAT] 후기 탭 상단 바 및 학과 선택 뷰 구현
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/UIView+.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Protocol/UICollectionViewRegisterable.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Protocol/UITableViewRegisterable.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/HalfModalVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/HalfModalVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/MajorTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/MajorTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/xib.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/AppContentDataModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/SB/ReviewSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/HalfModalPresentationController.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnArrow.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnArrow.imageset/btnArrow.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnArrow.imageset/btnArrow@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnArrow.imageset/btnArrow@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnX.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnX.imageset/btnX.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnX.imageset/btnX@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnX.imageset/btnX@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/star.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/star.imageset/star.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/star.imageset/star@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/star.imageset/star@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/star_selected.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/star_selected.imageset/star_selected.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/star_selected.imageset/star_selected@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/star_selected.imageset/star_selected@3x.png
Labels: 📱 View, 🏠 후기탭, 🧡 은주 🧡

#13 ✨ [FEAT] 로그인 플로우 및 레이아웃 구현
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/UIColor+.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Class/NadoTextField.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/NadoTextField.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignIn/SB/SignInSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignIn/VC/SignInVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Colorsets.xcassets/paleGray.colorset/Contents.json
Labels: 📱 View, 🍎 Feature, 🙋🏻‍♀️ Question, ❤️ 정빈걸 ❤️

#16 ✨ [FEAT] NadoAlert 구현
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Class/NadoAlertVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/NadoAlertVC.xib
Labels: 🍎 Feature, ❤️ 정빈걸 ❤️

#18 ✨ [FEAT] 회원가입 - 약관동의 UI 구성
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Class/NadoTextField.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignIn/VC/SignInVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignUp/AgreeTerms/SB/AgreeTermsVC.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignUp/AgreeTerms/VC/AgreeTermsVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignUp/AgreeTerms/VC/TermDetailVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnXGray.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnXGray.imageset/btn_x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnXGray.imageset/btn_x@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnXGray.imageset/btn_x@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btn_arrow.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btn_arrow.imageset/btn_arrow.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btn_arrow.imageset/btn_arrow@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btn_arrow.imageset/btn_arrow@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btn_arrow_left.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btn_arrow_left.imageset/btn_arrow.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btn_arrow_left.imageset/btn_arrow@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btn_arrow_left.imageset/btn_arrow@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btn_check.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btn_check.imageset/btn_check.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btn_check.imageset/btn_check@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btn_check.imageset/btn_check@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btn_check_selected.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btn_check_selected.imageset/Property 1=selected.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btn_check_selected.imageset/Property 1=selected@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btn_check_selected.imageset/Property 1=selected@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/diamond_gray.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/diamond_gray.imageset/Vector.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/diamond_gray.imageset/Vector@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/diamond_gray.imageset/Vector@3x.png
Labels: 📱 View, 🍎 Feature, ❤️ 정빈걸 ❤️

#23 ✨[FEAT] : 후기 탭 메인 뷰 UI 구성
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/HalfModalVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/HalfModalVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/ReviewMainImgTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/ReviewMainImgTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/ReviewMainLinkTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/ReviewMainLinkTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/ReviewMainPostTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/ReviewMainPostTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/ReviewMainStickyHeader.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/ReviewStickyHeaderView.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/AppContentDataModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/SB/ReviewSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/HalfModalPresentationController.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnArray.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnArray.imageset/btnArray.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnArray.imageset/btnArray@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnArray.imageset/btnArray@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnDiamond.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnDiamond.imageset/btnDiamond.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnDiamond.imageset/btnDiamond@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnDiamond.imageset/btnDiamond@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnFilter.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnFilter.imageset/btnFilter.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnFilter.imageset/btnFilter@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnFilter.imageset/btnFilter@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnHomeOutlink.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnHomeOutlink.imageset/btnHomeOutlink.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnHomeOutlink.imageset/btnHomeOutlink@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnHomeOutlink.imageset/btnHomeOutlink@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnTableOutlink.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnTableOutlink.imageset/btnTableOutlink.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnTableOutlink.imageset/btnTableOutlink@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnTableOutlink.imageset/btnTableOutlink@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/icBadClassTag.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/icBadClassTag.imageset/icBadClassTag.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/icBadClassTag.imageset/icBadClassTag@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/icBadClassTag.imageset/icBadClassTag@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/icReviewTag.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/icReviewTag.imageset/icReviewTag.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/icReviewTag.imageset/icReviewTag@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/icReviewTag.imageset/icReviewTag@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/icTipTag.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/icTipTag.imageset/icTipTag.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/icTipTag.imageset/icTipTag@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/icTipTag.imageset/icTipTag@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/sampleImg.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/sampleImg.imageset/sampleImg.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/sampleImg.imageset/sampleImg@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/sampleImg.imageset/sampleImg@3x.png
Labels: 📱 View, 🍎 Feature, 🏠 후기탭, 🧡 은주 🧡

#24 ✨ [FEAT] 회원가입 - 기본정보 UI 구성
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/UIColor+.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignUp/SignUpMajorInfo/SB/SignUpMajorInfoVC.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignUp/SignUpMajorInfo/VC/SignUpMajorInfoVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignUp/SignUpUserInfo/SB/SignUpUserInfoVC.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignUp/SignUpUserInfo/VC/SignUpUserInfoVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/diamond_black.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/diamond_black.imageset/Vector.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/diamond_black.imageset/Vector@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/diamond_black.imageset/Vector@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Colorsets.xcassets/red.colorset/Contents.json
Labels: 📱 View, 🍎 Feature, ❤️ 정빈걸 ❤️

#26 ✨ [FEAT] 회원가입 - 완료 UI 구성
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignUp/SignUpComplete/SB/SignUpCompleteVC.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignUp/SignUpComplete/VC/SignUpCompleteVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignUp/SignUpUserInfo/VC/SignUpUserInfoVC.swift
Labels: 📱 View, 🍎 Feature, ❤️ 정빈걸 ❤️

#27 ✨ [FEAT] 1:1 질문 TableView UI 기초 틀 구성하기(애니메이션 제외)
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Class/BaseCVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Class/BaseNC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Class/BaseTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Factory/TypeOfViewController.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Protocol/TVCContentUpdate.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Protocol/TVCHeightDynamicUpdate.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/DefaultQuestionDataModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/ClassroomCommentEditTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/ClassroomCommentEditTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/ClassroomCommentTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/ClassroomCommentTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/ClassroomQuestionEditTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/ClassroomQuestionEditTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/ClassroomQuestionTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/ClassroomQuestionTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/SB/ClassroomSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/DefaultQuestionChatVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ClassroomImg/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ClassroomImg/btnDiamond.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ClassroomImg/btnDiamond.imageset/btnDiamond.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ClassroomImg/btnDiamond.imageset/btnDiamond@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ClassroomImg/btnDiamond.imageset/btnDiamond@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ClassroomImg/btnSend.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ClassroomImg/btnSend.imageset/btnSend.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ClassroomImg/btnSend.imageset/btnSend@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ClassroomImg/btnSend.imageset/btnSend@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnMoreVertMint.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnMoreVertMint.imageset/btnMoreVertMint.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnMoreVertMint.imageset/btnMoreVertMint@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnMoreVertMint.imageset/btnMoreVertMint@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnX.imageset/btnX.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnX.imageset/btnX@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnX.imageset/btnX@3x.png
Labels: 📱 View, 💜 지은 💜, ✏️ 과방탭

#30 ✨ [FEAT] 회원가입 - 종료 시 alert 띄우기
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignUp/AgreeTerms/VC/AgreeTermsVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignUp/SignUpMajorInfo/VC/SignUpMajorInfoVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignUp/SignUpUserInfo/VC/SignUpUserInfoVC.swift
Labels: 📱 View, 🍎 Feature, ❤️ 정빈걸 ❤️

#32 ✨ [FEAT] 질문방 - 채팅 보내는 TextingArea 구현
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/ClassroomCommentEditTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/ClassroomCommentEditTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/ClassroomCommentTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/ClassroomCommentTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/ClassroomQuestionEditTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/ClassroomQuestionEditTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/ClassroomQuestionTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/ClassroomQuestionTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/SB/ClassroomSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/DefaultQuestionChatVC.swift
Labels: 📱 View, 🍎 Feature, 💜 지은 💜, ✏️ 과방탭

#34 🔨 [FIX] : 컨벤션에 맞춰 Xib 파일 이동 및 파일명 수정
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Class/BaseCVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Class/BaseTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Protocol/CVRegisterable.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Protocol/TVRegisterable.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/MajorTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainImgTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainImgTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainLinkTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainLinkTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainPostTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainPostTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Xib/ReviewMainStickyHeader.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Xib/ReviewStickyHeaderView.swift
Labels: 💡 Refactor, ⚡️ HotFix, 💜 지은 💜

#37 ✨[FEAT] 후기 메인 뷰 플로팅 버튼 및 정렬 부분 구현
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/SB/ReviewSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Xib/ReviewMainStickyHeader.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Xib/ReviewStickyHeaderView.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/ArrangeIcon.imageset/ArrangeIcon.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/ArrangeIcon.imageset/ArrangeIcon@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/ArrangeIcon.imageset/ArrangeIcon@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/ArrangeIcon.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnFloating.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnFloating.imageset/btnFloating.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnFloating.imageset/btnFloating@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnFloating.imageset/btnFloating@3x.png
Labels: 📱 View, 🍎 Feature, 🏠 후기탭, 🧡 은주 🧡

#39 ✨ [FEAT] 채팅 UI 하단 텍스트 입력 Area 세부 기능 구현 및 애니메이션 추가
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/UITextView+.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/ClassroomCommentEditTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/ClassroomCommentTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/ClassroomQuestionEditTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/ClassroomQuestionTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/SB/ClassroomSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/DefaultQuestionChatVC.swift
Labels: 📱 View, 🍎 Feature, ✨🍕 Jieun 🐰✨, ✏️ 과방탭

#41 ✨ [FEAT] 채팅 UI 키보드 인터랙션 기능 구현 및 1:1 질문 채팅 UI 구현 완료
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/UITableView+.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/SB/ClassroomSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/DefaultQuestionChatVC.swift
Labels: 📱 View, 🍎 Feature, ✨🍕 Jieun 🐰✨, ✏️ 과방탭

#43 ✨ [FEAT] 나도선배 Style TextView Custom Class 생성
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/UIColor+.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/UIScrollView+.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Class/NadoTextView.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Colorsets.xcassets/scrollMint.colorset/Contents.json
Labels: 📱 View, 🍎 Feature, ✨🍕 Jieun 🐰✨

#45 ✨ [FEAT] 과방탭 - 질문 작성뷰 UI 구현
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/UITextView+.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Struct/Identifiers.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Class/NadoSunbaeNaviBar.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/SB/WriteQuestionSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/WriteQuestionVC.swift
Labels: 📱 View, 🍎 Feature, ✨🍕 Jieun 🐰✨, ✏️ 과방탭

#48 ✨ [FEAT] 마이페이지 - 개인페이지 UI 구성
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Factory/TypeOfViewController.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageMain/SB/MypageSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageMain/VC/MypageMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageNVC/MypageNVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageUser/Cell/MypageQuestionTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageUser/SB/MypageUserVC.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageUser/VC/MypageUserVC+TV.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageUser/VC/MypageUserVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/SB/MypageSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/VC/MypageMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainPostTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/SB/ReviewSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignUp/SignUpMajorInfo/Cell/SelectMajorModalTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/btnFloating_x.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/btnFloating_x.imageset/btnFloating.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/btnFloating_x.imageset/btnFloating@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/btnFloating_x.imageset/btnFloating@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/btnSetting.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/btnSetting.imageset/btnSetting.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/btnSetting.imageset/btnSetting@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/btnSetting.imageset/btnSetting@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/imgProfile.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/imgProfile.imageset/imgProfile.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/imgProfile.imageset/imgProfile@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/imgProfile.imageset/imgProfile@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/icComment.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/icComment.imageset/icComment.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/icComment.imageset/icComment@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/icComment.imageset/icComment@3x.png
Labels: 📱 View, 🍎 Feature, ❤️ 정빈걸 ❤️, 🙋🏻‍♀️ 마이페이지탭

#51 ✨[FEAT] 후기 작성 뷰 UI
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Class/BaseCVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Class/CodeBaseCVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/UIColor+.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Class/NadoSunbaeNaviBar.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/AppContentDataModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/CVC/ReviewWriteBgImgCVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/CVC/ReviewWriteBgImgCVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/SB/ReviewSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/SB/ReviewWriteSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/NaviVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewWriteVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/bgSample.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/bgSample.imageset/bgSample.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/bgSample.imageset/bgSample@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/bgSample.imageset/bgSample@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Colorsets.xcassets/bgGray.colorset/Contents.json
Labels: 📱 View, 🍎 Feature, 🏠 후기탭, 🧡 은주 🧡

#53 🔨 [FIX] 로그인, 회원가입 수정 사항
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignIn/SB/SignInSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignIn/VC/SignInVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignUp/AgreeTerms/SB/AgreeTermsVC.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignUp/AgreeTerms/VC/AgreeTermsVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignUp/SignUpMajorInfo/SB/SignUpMajorInfoVC.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignUp/SignUpMajorInfo/VC/SignUpMajorInfoVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignUp/SignUpUserInfo/SB/SignUpUserInfoVC.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/SignInUpImage/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/SignInUpImage/nadosunbae_logo.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/SignInUpImage/nadosunbae_logo.imageset/Group 10.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/SignInUpImage/nadosunbae_logo.imageset/Group 10@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/SignInUpImage/nadosunbae_logo.imageset/Group 10@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/SceneDelegate.swift
Labels: ❤️ 정빈걸 ❤️, ✅ Chore

#55 ✨ [FEAT] NadoSunbae Segment Custom View 재사용 컴포넌트 생성
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Protocol/SendSegmentStateDelegate.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Struct/Identifiers.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Class/NadoHorizonContainerViews.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Class/NadoSegmentView.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/NadoHorizonContainerViews.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/SB/ClassroomSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/SB/QuestionChatSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/ClassroomMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/InfoMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/QuestionMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/WriteQuestionVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnRoom.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnRoom.imageset/btnRoom.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnRoom.imageset/btnRoom@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnRoom.imageset/btnRoom@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnRoomSelected.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnRoomSelected.imageset/btnRoomSelected.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnRoomSelected.imageset/btnRoomSelected@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnRoomSelected.imageset/btnRoomSelected@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/imgRoomMain.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/imgRoomMain.imageset/imgRoomMain.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/imgRoomMain.imageset/imgRoomMain@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/imgRoomMain.imageset/imgRoomMain@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/infoRoom.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/infoRoom.imageset/infoRoom.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/infoRoom.imageset/infoRoom@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/infoRoom.imageset/infoRoom@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/infoRoomSelected.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/infoRoomSelected.imageset/infoRoomSelected.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/infoRoomSelected.imageset/infoRoomSelected@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/infoRoomSelected.imageset/infoRoomSelected@3x.png
Labels: 📱 View, 🍎 Feature, ✨🍕 Jieun 🐰✨

#58 ✅ [Chore] FCM 세팅
  .gitignore
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/UserDefaults+.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Info.plist
  NadoSunbae-iOS/NadoSunbae-iOS/NadoSunbae-iOS.entitlements
  NadoSunbae-iOS/NadoSunbae-iOS/Support/AppDelegate.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/GoogleService-Info.plist
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Info.plist
  NadoSunbae-iOS/Podfile
  NadoSunbae-iOS/Podfile.lock
Labels: 🍎 Feature, ❤️ 정빈걸 ❤️, ✅ Chore

#60 ✨ [FEAT] 과방탭 메인뷰(질문) UI 틀 구현
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/UIColor+.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Factory/TypeOfViewController.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Struct/Identifiers.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Struct/QuestionType.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomCommentEditTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomCommentEditTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomCommentTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomCommentTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomQuestionEditTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomQuestionEditTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomQuestionTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomQuestionTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/QuestionEmptyTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/QuestionFooterTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/QuestionHeaderTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/QuestionTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/SB/ClassroomSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/SB/InfoSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/SB/QuestionSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/ClassroomMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/ClassroomNC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/DefaultQuestionChatVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/InfoMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/QuestionMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/WriteQuestionVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnWrite.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnWrite.imageset/btnWrite.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnWrite.imageset/btnWrite@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnWrite.imageset/btnWrite@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/questionArrow.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/questionArrow.imageset/Vector 112.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/questionArrow.imageset/Vector 112@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/questionArrow.imageset/Vector 112@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Colorsets.xcassets/Color.colorset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Colorsets.xcassets/lightMint.colorset/Contents.json
Labels: 📱 View, 🍎 Feature, ✨🍕 Jieun 🐰✨, ✏️ 과방탭

#62 ✨ [FEAT] 알림 UI 구성
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Notification/Cell/NotificationTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Notification/Model/NotificationModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Notification/SB/NotificationSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Notification/VC/NotificationMainVC+TV.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Notification/VC/NotificationMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/NotificationImage/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/NotificationImage/noti_btn_alert.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/NotificationImage/noti_btn_alert.imageset/Ellipse 865.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/NotificationImage/noti_btn_alert.imageset/Ellipse 865@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/NotificationImage/noti_btn_alert.imageset/Ellipse 865@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/SceneDelegate.swift
Labels: 📱 View, 🍎 Feature, ❤️ 정빈걸 ❤️, 🔔 알림탭

#63 ✨ [FEAT] 질문가능 선배 UI 구현
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/NadoAlertVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/OnQuestionUserListModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/CVC/QuestionPeopleHeaderView.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/CVC/QuestionPeopleHeaderView.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/CVC/QuestionPersonCVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/SB/ClassroomSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/QuestionPersonListVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/TabBar/VC/NadoSunbaeTBC.swift
Labels: 📱 View, 🍎 Feature, ✨🍕 Jieun 🐰✨, ✏️ 과방탭

#65 ✨[FEAT] 후기 상세 뷰 UI 구성
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Class/NadoSunbaeNaviBar.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/AppContentDataModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewDetailPostTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewDetailPostTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewDetailPostWithImgTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewDetailPostWithImgTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewDetailProfileTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewDetailProfileTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainImgTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainPostTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainPostTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/SB/ReviewDetailSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/SB/ReviewSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewDetailVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewWriteVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/bomb.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/bomb.imageset/bomb.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/bomb.imageset/bomb@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/bomb.imageset/bomb@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnMoreVert.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnMoreVert.imageset/btnMoreVert.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnMoreVert.imageset/btnMoreVert@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnMoreVert.imageset/btnMoreVert@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnNext.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnNext.imageset/btnNext.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnNext.imageset/btnNext@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnNext.imageset/btnNext@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/cube.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/cube.imageset/cube.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/cube.imageset/cube@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/cube.imageset/cube@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/emptyDiamond.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/emptyDiamond.imageset/emptyDiamond.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/emptyDiamond.imageset/emptyDiamond@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/emptyDiamond.imageset/emptyDiamond@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/honey.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/honey.imageset/honey.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/honey.imageset/honey@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/honey.imageset/honey@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/imgReviewBg.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/imgReviewBg.imageset/imgReviewBg.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/imgReviewBg.imageset/imgReviewBg@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/imgReviewBg.imageset/imgReviewBg@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/property1Black.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/property1Black.imageset/property1Black.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/property1Black.imageset/property1Black@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/property1Black.imageset/property1Black@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnMoreVert.imageset/btnMoreVert.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnMoreVert.imageset/btnMoreVert@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnMoreVert.imageset/btnMoreVert@3x.png
Labels: 📱 View, 🍎 Feature, 🏠 후기탭, 🧡 은주 🧡

#68 🔨 [FIX] 후기 상세 뷰 contentLabel 길이에 따른 TableViewCell 동적 높이 구현
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewDetailPostTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewDetailPostTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewDetailPostWithImgTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewDetailVC.swift
Labels: 📱 View, 🏠 후기탭, 🧡 은주 🧡, ✅ Chore

#71 ✨ [FEAT] 질문 더보기 리스트뷰 구현
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/BaseQuestionTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/EntireQuestionListTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/QuestionTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/ReviewWriteSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/SB/ClassroomSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/EntireQuestionListVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/QuestionMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/QuestionPersonListVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageMain/Model/MypageQuestionModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Xib/ReviewMainStickyHeader.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Xib/ReviewStickyHeaderView.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/SignInUpImage/qustionFloating.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/SignInUpImage/qustionFloating.imageset/qustionFloating.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/SignInUpImage/qustionFloating.imageset/qustionFloating@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/SignInUpImage/qustionFloating.imageset/qustionFloating@3x.png
Labels: 📱 View, 🍎 Feature, ✨🍕 Jieun 🐰✨, ✏️ 과방탭

#73 ✨ [FEAT] 후기탭 화면 플로우 연결
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Factory/TypeOfViewController.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/ReviewWriteSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewDetailPostTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainImgTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/SB/ReviewSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewDetailVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewNC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/img_review_main.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/img_review_main.imageset/img_review_main.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/img_review_main.imageset/img_review_main@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/img_review_main.imageset/img_review_main@3x.png
Labels: 📱 View, 🍎 Feature, 🏠 후기탭, ✨🍕 Jieun 🐰✨

#74 ✅ [CHORE] 시간 처리 함수 추가
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/String+.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageMain/VC/MypageMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageUser/Cell/MypageQuestionTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageUser/VC/MypageUserVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Notification/Cell/NotificationTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Notification/VC/NotificationMainVC.swift
Labels: ❤️ 정빈걸 ❤️, ✅ Chore

#79 ✅ [CHORE] Contents가 화면 상단에 닿았을 때 scroll disabled 되도록 수정
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewDetailVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewMainVC.swift
Labels: 📱 View, 🏠 후기탭, 🧡 은주 🧡, ✅ Chore

#80 ✅ [CHORE] testFlight 등록 위한 내부 설정
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/DefaultQuestionChatVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/QuestionMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/QuestionPersonListVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/SceneDelegate.swift
Labels: ⚡️ HotFix, ✨🍕 Jieun 🐰✨, ✅ Chore

#82 ✅ [CHORE] 서버 통신 기초 세팅
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/UserDefaults+.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIEssentials/APIConstants.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIManagers/ReviewAPI.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIServices/s.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/MoyaTarget/ReviewService.swift
Labels: ⚡️ HotFix, ✨🍕 Jieun 🐰✨, ✅ Chore

#87 ✅ [CHORE] Login버튼 클릭시 Userdefaults에 임의 값 지정해두기
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignIn/VC/SignInVC.swift
Labels: ✨🍕 Jieun 🐰✨, ✅ Chore

#89 ✅ [CHORE] 후기 메인 뷰 UI 수정
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/HalfModalVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/MajorTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/MajorTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/AppContentDataModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/CVC/ReviewPostTagCVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/CVC/ReviewPostTagCVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainLinkTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainPostTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainPostTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/SB/ReviewSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/SB/ReviewWriteSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Xib/ReviewMainStickyHeader.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/ArrangeIcon.imageset/ArrangeIcon.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/ArrangeIcon.imageset/ArrangeIcon@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/ArrangeIcon.imageset/ArrangeIcon@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/property1Career.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/property1Career.imageset/property1Career.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/property1Career.imageset/property1Career@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/property1Career.imageset/property1Career@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/property1Learning.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/property1Learning.imageset/property1Learning.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/property1Learning.imageset/property1Learning@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/property1Learning.imageset/property1Learning@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/property1Variant3.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/property1Variant3.imageset/property1Variant3.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/property1Variant3.imageset/property1Variant3@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/property1Variant3.imageset/property1Variant3@3x.png
Labels: 📱 View, 🏠 후기탭, 🧡 은주 🧡, ✅ Chore

#91 ✨[FEAT] 후기글 등록 API 연결
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIManagers/ReviewAPI.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/LikeData.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Review/ReviewPostData.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Review/ReviewPostRegisterData.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/WriterData.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/MoyaTarget/ReviewService.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewWriteVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignIn/VC/SignInVC.swift
Labels: 📡 Network, 🍎 Feature, 🏠 후기탭, 🧡 은주 🧡

#93 ✨ [FEAT] 마이페이지 api 연결
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Struct/ListSortType.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIManagers/MypageAPI.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Mypage/MypageUserInfoModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Mypage/MypageUserPersonalQuestionModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/MoyaTarget/MypageService.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/BaseQuestionTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageMain/Model/MypageQuestionModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageMain/SB/MypageSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageMain/VC/MypageMainVC+TV.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageMain/VC/MypageMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageUser/Cell/MypageQuestionTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageUser/VC/MypageUserVC+TV.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageUser/VC/MypageUserVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignIn/VC/SignInVC.swift
Labels: 📡 Network, 🍎 Feature, ❤️ 정빈걸 ❤️, 🙋🏻‍♀️ 마이페이지탭

#95 ✨[FEAT] 학과 목록 조회 API 연결
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/UserDefaults+.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/PublicData/AppModel/MajorInfoModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/PublicData/Singleton/MajorInfo.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/HalfModalVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/MajorTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIManagers/PublicAPI.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIManagers/ReviewAPI.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Public/LikeData.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Public/MajorListData.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Public/WriterData.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/MoyaTarget/PublicService.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/SB/ReviewSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewMainVC.swift
Labels: 📡 Network, 🍎 Feature, 🏠 후기탭, 🧡 은주 🧡

#99 ✨ [FEAT] 과방탭 질문방 조회 API 연결
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/UIViewController+.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Struct/ActionSheetCase.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Struct/NaviType.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIManagers/ClassroomAPI.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Classroom/QuestionChat/ClassroomQuestionDetailData.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/MoyaTarget/ClassroomService.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomCommentEditTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomCommentEditTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomCommentTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomCommentTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomQuestionEditTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomQuestionEditTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomQuestionTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomQuestionTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/DefaultQuestionChatVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/WriteQuestionVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnMoreVertChatGray.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnMoreVertChatGray.imageset/btnMoreVertChatGray.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnMoreVertChatGray.imageset/btnMoreVertChatGray@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/btnMoreVertChatGray.imageset/btnMoreVertChatGray@3x.png
Labels: 📡 Network, 📱 View, 🍎 Feature, ✨🍕 Jieun 🐰✨, ✏️ 과방탭

#97 ✨ [FEAT] 알림 탭 API 연결
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Class/BaseVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/Int+.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Factory/TypeOfViewController.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIManagers/NotificationAPI.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Notification/DeleteNotificationDataModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Notification/NotificationDataModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Notification/ReadNotificationDataModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/MoyaTarget/NotificationService.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageMain/VC/MypageMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageUser/VC/MypageUserVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Notification/Cell/NotificationTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Notification/Model/NotificationModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Notification/NotificationNVC/NotificationNVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Notification/SB/NotificationSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Notification/VC/NotificationMainVC+TV.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Notification/VC/NotificationMainVC.swift
Labels: 📡 Network, 🍎 Feature, ❤️ 정빈걸 ❤️, 🔔 알림탭

#102 ✨ [FEAT] 로그인 API 연결
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIManagers/SignAPI.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Sign/SignInDataModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/MoyaTarget/SignService.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/SignIn/VC/SignInVC.swift
Labels: 📡 Network, 🍎 Feature, ❤️ 정빈걸 ❤️

#103 ✨[FEAT] 후기글 전체 목록 조회 API 연결
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIManagers/ReviewAPI.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Public/WriterData.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Review/ReviewMainPostListData.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/MoyaTarget/ReviewService.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/CVC/ReviewPostTagCVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainPostTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainPostTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewWriteVC.swift
Labels: 📡 Network, 🍎 Feature, 🏠 후기탭, 🧡 은주 🧡

#105 ✨ [FEAT] 과방탭 메인 리스트 조회 API 연결 및 메인뷰 보수
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/Notification.Name.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/PublicData/Singleton/MajorInfo.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Struct/ClassroomPostType.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Xib/HalfModalVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIManagers/ClassroomAPI.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIManagers/MypageAPI.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIManagers/PublicAPI.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Public/QuestionOrInfoListModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/MoyaTarget/ClassroomService.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/BaseQuestionTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/QuestionTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/ClassroomMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/GroupQuestion/EntireQuestionListVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/PersonalQuestion/QuestionPersonListVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/QuestionMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageMain/VC/MypageMainVC+TV.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageMain/VC/MypageMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageUser/Cell/MypageQuestionTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageUser/VC/MypageUserVC+TV.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageUser/VC/MypageUserVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewMainVC.swift
Labels: 📡 Network, 🍎 Feature, ✨🍕 Jieun 🐰✨, ✏️ 과방탭

#107 ✨ [FEAT] 과방 메인에서 전체 질문 채팅 조회 화면 연결 및 질문 작성 API 연결
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIManagers/ClassroomAPI.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Classroom/QuestionChat/AddCommentData.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/MoyaTarget/ClassroomService.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/DefaultQuestionChatVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/QuestionMainVC.swift
Labels: 📡 Network, 🍎 Feature, ✨🍕 Jieun 🐰✨, ✏️ 과방탭

#109 🔨 [FIX] 알림 API 수정사항 반영
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Notification/NotificationDataModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Notification/SB/NotificationSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Notification/VC/NotificationMainVC+TV.swift
Labels: 🐞 Bug, 📡 Network, ❤️ 정빈걸 ❤️, 🔔 알림탭

#111 ✨[FEAT] 후기글 상세 조회 API 연결
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIManagers/ReviewAPI.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Review/ReviewPostDetailData.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/MoyaTarget/ReviewService.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewDetailPostTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewDetailPostWithImgTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewDetailPostWithImgTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewDetailProfileTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainPostTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainPostTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewDetailVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundBlack.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundBlack.imageset/backgroundBlack.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundBlack.imageset/backgroundBlack@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundBlack.imageset/backgroundBlack@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundMint.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundMint.imageset/backgroundMint.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundMint.imageset/backgroundMint@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundMint.imageset/backgroundMint@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundNavy.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundNavy.imageset/backgroundNavy.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundNavy.imageset/backgroundNavy@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundNavy.imageset/backgroundNavy@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundOrange.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundOrange.imageset/backgroundOrange.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundOrange.imageset/backgroundOrange@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundOrange.imageset/backgroundOrange@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundPink.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundPink.imageset/backgroundPink.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundPink.imageset/backgroundPink@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundPink.imageset/backgroundPink@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundPurple.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundPurple.imageset/backgroundPurple.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundPurple.imageset/backgroundPurple@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundPurple.imageset/backgroundPurple@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundSkyblue.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundSkyblue.imageset/backgroundSkyblue.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundSkyblue.imageset/backgroundSkyblue@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/MypageImage/backgroundSkyblue.imageset/backgroundSkyblue@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/bomb.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/bomb.imageset/bomb.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/bomb.imageset/bomb@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/bomb.imageset/bomb@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/compass.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/compass.imageset/compass.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/compass.imageset/compass@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/compass.imageset/compass@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/diamond.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/diamond.imageset/diamond.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/diamond.imageset/diamond@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/diamond.imageset/diamond@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/pencil.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/pencil.imageset/pencil.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/pencil.imageset/pencil@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/pencil.imageset/pencil@3x.png
Labels: 📡 Network, 🍎 Feature, 🏠 후기탭, 🧡 은주 🧡

#112 ✨ [FEAT] 과방 전체에게 질문 entire list 조회 및 채팅뷰 연결
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/UILabel+.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Struct/QuestionType.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Class/NadoSunbaeNaviBar.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomQuestionTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/BaseQuestionTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/EntireQuestionListTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/QuestionEmptyTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/QuestionFooterTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/QuestionHeaderTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/SB/QuestionChatSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/ClassroomMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/DefaultQuestionChatVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/GroupQuestion/EntireQuestionListVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/PersonalQuestion/QuestionPersonListVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/QuestionMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/WriteQuestionVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/SB/ReviewWriteSB.storyboard
Labels: 📡 Network, 🍎 Feature, ✨🍕 Jieun 🐰✨, ✏️ 과방탭

#116 ✨ [FEAT] 과방 글 작성 API 연결
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Class/NadoAlertVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Class/NadoSunbaeBtn.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIManagers/ClassroomAPI.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/CreateClassroomPostModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/MoyaTarget/ClassroomService.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/WriteQuestionVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageMain/SB/MypageSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageMain/VC/MypageMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Notification/SB/NotificationSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Notification/VC/NotificationMainVC.swift
Labels: 📡 Network, 🍎 Feature, 🏠 후기탭, ❤️ 정빈걸 ❤️, ✅ Chore

#118 ✨[FEAT] 학과 선택에 따라 게시글 리스트 바뀌도록 서버 통신 구현
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Review/ReviewPostDetailData.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/MoyaTarget/ReviewService.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewDetailPostWithImgTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewDetailPostWithImgTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainPostTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/SB/ReviewSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/SB/ReviewWriteSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewDetailVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewWriteVC.swift
Labels: 📡 Network, 🏠 후기탭, 🧡 은주 🧡

#120 ✨ [FEAT] 선택한 학과 user 구성원 목록 조회 API 연결
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIManagers/ClassroomAPI.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Classroom/MajorUserListDataModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Mypage/MypageUserInfoModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/OnQuestionUserListModel.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/MoyaTarget/ClassroomService.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/CVC/QuestionPersonCVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/PersonalQuestion/QuestionPersonListVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/QuestionMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageMain/SB/MypageSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageMain/VC/MypageMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageUser/SB/MypageUserVC.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageUser/VC/MypageUserVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/profileImage1.imageset/1.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/profileImage1.imageset/1@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/profileImage1.imageset/1@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/profileImage1.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/profileImage2.imageset/2.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/profileImage2.imageset/2@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/profileImage2.imageset/2@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/profileImage2.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/profileImage3.imageset/3.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/profileImage3.imageset/3@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/profileImage3.imageset/3@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/profileImage3.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/profileImage4.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/profileImage4.imageset/Mask Group.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/profileImage4.imageset/Mask Group@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/profileImage4.imageset/Mask Group@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/profileImage5.imageset/5.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/profileImage5.imageset/5@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/profileImage5.imageset/5@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ProfileImage/profileImage5.imageset/Contents.json
Labels: 📡 Network, ❤️ 정빈걸 ❤️, ✏️ 과방탭

#121 ✨ [FEAT] 과방 정보탭 메인뷰 UI 구현
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Class/NadoSegmentView.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/InfoListTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/QuestionEmptyTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/GroupQuestion/EntireQuestionListVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/InfoMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/QuestionMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/infoFloating.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/infoFloating.imageset/act.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/infoFloating.imageset/act@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/infoFloating.imageset/act@3x.png
Labels: 📡 Network, 🍎 Feature, ✨🍕 Jieun 🐰✨, ✏️ 과방탭

#128 ✨[FEAT] 후기 메인 뷰 Empty View 구성 및 자잘한 UI 수정
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Class/NadoSunbaeBtn.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewDetailPostWithImgTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewEmptyTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewEmptyTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainImgTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainImgTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewDetailVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewWriteVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/Frame 149.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/Frame 149.imageset/Frame 149.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/Frame 149.imageset/Frame 149@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/Frame 149.imageset/Frame 149@3x.png
Labels: 🍎 Feature, 🏠 후기탭, 🧡 은주 🧡, ✅ Chore

#134 ✨[FEAT] 학과 홈페이지 조회 API 연결
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIManagers/ReviewAPI.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Review/ReviewHomePageData.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/MoyaTarget/ReviewService.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainLinkTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainLinkTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewMainVC.swift
Labels: 📡 Network, 🏠 후기탭, 🧡 은주 🧡

#133 🔨 [FIX] adjusted 적용 상태 제거, 네비바 shadow 제거
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Extension/UIFont+.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/CVC/QuestionPeopleHeaderView.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomCommentEditTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/BaseQuestionTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/QuestionEmptyTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/QuestionFooterTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/ClassroomMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/DefaultQuestionChatVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/QuestionMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/WriteQuestionVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageMain/VC/MypageMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Notification/VC/NotificationMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewDetailVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewMainVC.swift
Labels: 🐞 Bug, ⚡️ HotFix, ✨🍕 Jieun 🐰✨

#136 🔨 [FIX] Push 알림 Foreground 설정
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageUser/VC/MypageUserVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Notification/Cell/NotificationTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/AppDelegate.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Info.plist
Labels: 📡 Network, ❤️ 정빈걸 ❤️, ✅ Chore

#140 🔨 [FIX] 채팅뷰 시간 파싱 연결 안한 것 연결하기
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIManagers/ClassroomAPI.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Classroom/QuestionChat/ClassroomQuestionDetailData.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/MoyaTarget/ClassroomService.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomCommentTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomCommentTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomQuestionTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/Chat/ClassroomQuestionTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/DefaultQuestionChatVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/EntireQuestionListVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ClassroomImg/btnDiamond.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnDiamond.imageset/btnDiamond.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnDiamond.imageset/btnDiamond@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnDiamond.imageset/btnDiamond@3x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnDiamondMint.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnDiamondMint.imageset/btnDiamond.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnDiamondMint.imageset/btnDiamond@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/ReviewImage/btnDiamondMint.imageset/btnDiamond@3x.png
Labels: 📡 Network, 📱 View, ✨🍕 Jieun 🐰✨, ✏️ 과방탭

#139 ✅ [CHORE] 필터 정렬 구현 및 QA 반영한 자잘한 수정
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIManagers/ReviewAPI.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/CVC/ReviewPostTagCVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/CVC/ReviewPostTagCVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewDetailProfileTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainPostTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/Cell/TVC/ReviewMainPostTVC.xib
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/SB/ReviewDetailSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewDetailVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/colorFilledDiamond.imageset/Contents.json
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/colorFilledDiamond.imageset/colorFilledDiamond.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/colorFilledDiamond.imageset/colorFilledDiamond@2x.png
  NadoSunbae-iOS/NadoSunbae-iOS/Support/Assets.xcassets/colorFilledDiamond.imageset/colorFilledDiamond@3x.png
Labels: 🍎 Feature, 🏠 후기탭, 🧡 은주 🧡, ✅ Chore

#142 🔨 [FIX] 1:1 질문뷰 연결 시 "해당 선배의 질문에는 답글을 남길 수 없어요" 상태만 뜨는 문제 해결하기
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Struct/ClassroomPostType.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Struct/QuestionType.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/DefaultQuestionChatVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/EntireQuestionListVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/InfoMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/QuestionMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageMain/VC/MypageMainVC+TV.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageMain/VC/MypageMainVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageUser/SB/MypageUserVC.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageUser/VC/MypageUserVC+TV.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Mypage/MypageUser/VC/MypageUserVC.swift
Labels: ⚡️ HotFix, ✨🍕 Jieun 🐰✨

#144 🔨 [FIX] 과방탭 질문 전체보기 -> 좋아요/최신순 필터 정렬 오류 해결 & 후기 상세뷰 좋아요 기능 구현
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Global/Struct/QuestionType.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Network/APIModels/Models/Review/ReviewPostDetailData.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/DefaultQuestionChatVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/WriteQuestionVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/SB/ReviewDetailSB.storyboard
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewDetailVC.swift
Labels: 🏠 후기탭, ⚡️ HotFix, ✨🍕 Jieun 🐰✨, ✏️ 과방탭

#146 ✅ [CHORE] 디바이스 방향 세로모드로 고정하기
  NadoSunbae-iOS/NadoSunbae-iOS/Support/AppDelegate.swift
Labels: ⚡️ HotFix, ✨🍕 Jieun 🐰✨, ✅ Chore

#149 ✨ [FEAT] 버튼 vibrate 지정하기
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Class/NadoSegmentView.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Global/UIComponent/Class/NadoSunbaeNaviBar.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/Cell/TVC/QuestionMain/QuestionHeaderTVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/DefaultQuestionChatVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/EntireQuestionListVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/WriteQuestionVC.swift
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Review/VC/ReviewWriteVC.swift
Labels: ⚡️ HotFix, ✨🍕 Jieun 🐰✨, ✅ Chore

#151 ✅ Chore: 채팅뷰 플레이스홀더 코드 수정 및 보수 (#150)
  NadoSunbae-iOS/NadoSunbae-iOS.xcodeproj/project.pbxproj
  NadoSunbae-iOS/NadoSunbae-iOS/Screen/Classroom/VC/DefaultQuestionChatVC.swift
Labels: ⚡️ HotFix, ✨🍕 Jieun 🐰✨, ✏️ 과방탭, ✅ Chore

#153 🔨 [FIX] foreground일 때 푸시가 안오는 버그 해결
  NadoSunbae-iOS/NadoSunbae-iOS/Support/AppDelegate.swift
Labels: ⚡️ HotFix
